<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Bookstore{% endblock title %}</title>
</head>
<body>
    <div class="container">
        {% block content %}
          
        {% endblock content %}
    </div>
</body>
</html>